/***************************************************/
/* Contents 

Generic 
 - Font 
 - Color Scheme 
 - Buttons
 - Header / Navbar
 - Footer CTA 
 - Footer copyright 

Index page 
- Hero section
- Tech skills section 
- Projects section 
- Experience section 
- Education section 
- Principles section

Contact form page 

Contact form msg sent page 

Project overview page 

Project page 

Media queries 
- XS screen and smaller (max width: 576px 
- SM screen (max width: 768px, min width: 576px)
- MD screen (max width: 992px, min width: 768px)
- LG screen (max width: 1200px, min width: 992px)
- XL screen (max width: 1400px, min width: 1200px)
- XL screen and larger (min width: 1400px)

Final 

*/
/***************************************************/

/***************************************************/
/* Generic  */
/***************************************************/

/***************************************************/
/* Font - Google Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

/***************************************************/
/* Colour scheme */
:root {
  --primary-green: #555137;
  --green-dark: #4c4831;
  --green-darkest: #393625;
  --primary-cream: #fff0e5;
  --cream-green-A: #ecded2;
  --cream-green-B: #d9cdbe;
  --green-cream-A: #68634a;
  --green-cream-D: #a19884;
}

.dark-green-text {
  color: var(--green-dark);
}

.darkest-green-text {
  color: var(--green-darkest);
}

.primary-text {
  color: var(--primary-cream);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-cream);
}

h2 {
  font-size: 48px;
  font-weight: 700;
  padding-top: 50px;
  padding-bottom: 50px;
  color: var(--green-dark);
}

/***************************************************/
/* Buttons */
.btn-primary,
.btn-primary:link,
.btn-primary:visited {
  background-color: var(--green-dark);
  border: 3px solid var(--green-dark);
  border-radius: 50px;
  height: 60px;
  width: 260px;
  font-weight: 600;
  font-size: 20px;
  color: var(--primary-cream);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-primary i {
  color: var(--primary-cream);
}

.btn-primary:visited {
  box-shadow: 0 0 0 0.25rem rgba(33, 32, 22, 0.5);
}

.btn-primary:hover {
  background-color: transparent;
  border: 3px solid var(--green-dark);
  color: var(--green-dark);
}

.btn-primary:hover i {
  color: var(--green-dark);
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.25rem rgba(33, 32, 22, 0.5);
}

.btn-primary:active {
  background-color: transparent;
  border: 3px solid var(--green-dark);
  color: var(--green-dark);
}

.btn-outline-primary,
.btn-outline-primary:link,
.btn-outline-primary:visited {
  background-color: transparent;
  border: 3px solid var(--green-dark);
  border-radius: 50px;
  height: 60px;
  width: fit-content;
  font-weight: 600;
  font-size: 20px;
  color: var(--green-dark);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-outline-primary i {
  color: var(--green-dark);
}

.btn-outline-primary:visited {
  box-shadow: 0 0 0 0.25rem rgba(33, 32, 22, 0.5);
}

.btn-outline-primary:hover {
  background-color: var(--green-dark);
  border: 3px solid var(--green-dark);
  color: var(--primary-cream);
}

.btn-outline-primary:hover i {
  color: var(--primary-cream);
}

.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.25rem rgba(33, 32, 22, 0.5);
}

.btn-outline-primary:active {
  background-color: var(--primary-cream);
  border: 3px solid var(--green-dark);
  color: var(--green-dark);
}

/***************************************************/
/* Header / Navbar */
header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: var(--primary-cream);
  z-index: 2;
}

.header-shadow {
  filter: drop-shadow(0px 1px 30px rgba(85, 81, 55, 0.25));
}

.navbar {
  height: 100px;
  display: flex;
  align-items: center;
}

.navbar-brand {
  font-weight: 700 !important;
  font-size: 48px;
  color: var(--green-dark);
}

.navbar-brand:hover {
  font-weight: 700 !important;
  font-size: 48px;
  color: var(--green-dark);
}

.cta-btn-2 {
  display: none;
}

/***************************************************/
/* Footer CTA */

.footer-cta-section {
  background-color: var(--green-darkest);
  height: 300px;
}

.footer-cta-container {
  background-color: var(--cream-green-A);
  color: var(--green-darkest);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  position: relative;
  bottom: 134px;
}

.footer-cta-content {
  padding-left: 75px;
}

.footer-title {
  padding-top: 0;
  padding-bottom: 15px;
}

.footer-text {
  padding-bottom: 10px;
}

.footer-image {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 30%;
}

/***************************************************/
/* Footer copyright */

.footer-section {
  background-color: var(--green-darkest);
  color: var(--primary-cream);
  position: relative;
}

.footer-section a {
  color: var(--primary-cream);
}

.footer-hr {
  color: var(--green-cream-A);
  margin: 0;
  opacity: 1;
  height: 2px !important;
  border-radius: 1px;
}

.copyright {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 50px;
}

/***************************************************/
/* Index page */
/***************************************************/

.index-body {
  background-color: var(--green-darkest);
}

/***************************************************/
/* Hero */
.hero-section {
  height: 500px;
  background-color: var(--primary-cream);
}

.hero-container {
  background-image: url("images/Prishal_Makwana.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: 80% bottom;
  height: 500px;
  padding-left: 0;
  padding-right: 0;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

.hero-text {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.hero-h1 {
  color: var(--green-dark);
  font-size: 64px;
  font-weight: 700;
}

.hero-p {
  color: var(--green-dark);
  font-weight: 500;
  font-size: 24px;
}

.sm-cta-container {
  display: none;
}

.social-container {
  background-color: var(--cream-green-A);
  border-radius: 50px;
  height: 220px;
  width: 73px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 90px;
  box-shadow: 4px 4px 20px #a19884;
}

.social-btn {
  width: 73px;
  height: 73px;
  border-radius: 50px;
  color: var(--green-dark);
  background-color: var(--cream-green-A);
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-btn i {
  font-size: 30px;
}

.social-btn:hover {
  color: var(--primary-cream);
  background-color: var(--green-dark);
}

.hero-image {
  height: 600px;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-image img {
  height: 100%;
}

.gradient {
  height: 250px;
  width: 100%;
  position: relative;
  bottom: 250px;
  background-image: linear-gradient(transparent, var(--cream-green-A));
}

/***************************************************/
/* Tech skills section */

.tech-skills-section {
  background-color: var(--cream-green-A);
}

.tech-skills-container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.skills-container {
  width: 100%;
  border-radius: 75px;
  box-shadow: 0px 0px 20px rgba(85, 81, 55, 0.25);
  background-color: var(--primary-cream);
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-left: 25px;
  padding-right: 25px;
  justify-content: space-around;
}

.sm-skills-title-container {
  display: none;
}

.skill-item {
  background-color: transparent;
  border: 0;
  width: 10.5%;
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
}

.skill-text {
  text-align: center;
  font-weight: 500;
}

.skills-Btn {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 20px;
}

.sm-skills-btn-container {
  display: none;
}

#skills-view-more-desktop-btn {
  margin-left: 1.5%;
  margin-right: 1.5%;
}

/***************************************************/
/* Projects section */

.project-section {
  background-color: var(--primary-cream);
}

.project-container {
  padding-bottom: 50px;
}

.project-btn-container {
  display: flex;
  flex-direction: row-reverse;
}

.index-project-title,
.projects-project-title {
  color: var(--green-darkest);
  font-weight: 700;
}

.project-carousel-container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.project-carousel {
  display: flex;
  justify-content: flex-start;

  gap: 40px;
  scrollbar-width: thin;
  overflow-x: auto;
  scroll-snap-type: inline mandatory;
  list-style-type: none;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 60px;
}

.project-carousel-right-padding {
  padding: 10px;
}

.project {
  width: 29%;
  background-color: var(--primary-cream);
  padding: 30px;
  border-radius: 50px;
  box-shadow: 5px 5px 30px rgba(85, 81, 55, 0.25);
  border: 5px solid var(--primary-cream);
  justify-content: space-between;
}

.project:hover {
  border: 5px solid var(--primary-green);
}

.index-project-skill {
  height: 25px;
  padding-right: 10px;
  margin-bottom: 10px;
}

.index-project-image {
  width: 40%;
  box-shadow: 5px 5px 30px rgba(85, 81, 55, 0.25);
}

.projects-project-skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.projects-project-skill {
  height: 25px;
  padding-right: 10px;
  margin-bottom: 10px;
}

.projects-project-image {
  width: 40%;
  box-shadow: 5px 5px 30px rgba(85, 81, 55, 0.25);
}

.diral {
  border-radius: 19%;
}

.quizzical {
  border-radius: 16%;
}

.artfolio {
  border-radius: 50%;
}

.project-content {
  padding-top: 20px;
  padding-bottom: 20px;
}

.index-project-skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.project-skill {
  height: 40px;
  margin: 10px;
}

.projects-title {
  color: var(--primary-green);
  padding-top: 50px;
  padding-bottom: 25px;
  font-weight: 700;
  font-size: 40px;
}

.project-title {
  font-weight: 700;
}

.project-card-description {
  padding-bottom: 10px;
}

.project-description-container {
  height: 95px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
  position: relative;
}

.github-repo-btn-container {
  padding-top: 1%;
  padding-bottom: 3%;
}

.project-card-gradient {
  background-image: linear-gradient(to top, var(--primary-cream), transparent);
  height: 50%;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.carousel-gradient {
  background-image: linear-gradient(to left, var(--primary-cream), transparent);
  height: 100%;
  width: 10%;
  position: absolute;
  right: 0;
}

.project-view-more-button {
  width: fit-content !important;
  padding-left: 5%;
  padding-right: 5%;
}

.project-view-more-link {
  display: flex;
  flex-direction: row-reverse;
}

.has-scrollbar::-webkit-scrollbar {
  height: 3px;
}

.has-scrollbar::-webkit-scrollbar-button {
  color: var(--green);
  width: 40px;
}

/***************************************************/
/* Experience section */

.sm-experience-container {
  display: none;
}

.experience-section {
  background-color: var(--primary-green);
  color: var(--primary-cream);
}

.experience-title {
  color: var(--primary-cream);
  padding-top: 100px;
}

.company-col {
  display: grid;
  justify-content: end;
  text-align: end;
  align-content: flex-start;
}

.company-logo-container {
  background-color: var(--cream-green-A);
  border-radius: 50px;
  width: 200px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.company-logo {
  width: 150px;
}

.company-name {
  padding-top: 15px;
  font-weight: 600;
}

.company-period {
  margin-bottom: 0.5rem;
}

.company-length {
  margin-top: 0;
}

.job-title {
  font-weight: 700;
}

.job-detail-1 {
  font-weight: 500;
}

.job-detail-2 {
  font-weight: 400;
}

.last-job-detail {
  padding-bottom: 50px;
}

.line-tip {
  height: 300%;
  width: 10px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: var(--cream-green-A);
  display: flex;
  margin: auto;
  color: var(--cream-green-A);
}

.line {
  height: 200%;
  display: flex;
  width: 10px;
  background-color: var(--cream-green-A);
  margin: auto;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  background-color: var(--cream-green-A);
  margin: auto;
}

.circle-small {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: var(--cream-green-A);
  padding: 2px;
  margin-top: 7.5px;
  margin: auto;
}

/***************************************************/
/* Education section */

.sm-education-container {
  display: none;
}

.education-section {
  background-color: var(--cream-green-A);
  color: var(--green-darkest);
}

.education-title {
  padding-top: 100px;
}

.school-col {
  display: grid;
  justify-content: end;
  text-align: end;
  align-content: flex-start;
}

.school-logo-container {
  background-color: var(--primary-cream);
  border-radius: 50px;
  width: 200px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.school-logo {
  max-width: 150px;
}

.school-title {
  font-weight: 700;
}

.school-date {
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.school-description {
  font-weight: 400;
  margin-top: 0;
}

.last-school-description {
  padding-bottom: 50px;
}

.education-line-tip {
  height: 300%;
  width: 10px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: var(--primary-cream);
  color: var(--primary-cream);
  display: flex;
  margin: auto;
}

.education-line {
  height: 140%;
  display: flex;
  width: 10px;
  background-color: var(--primary-cream);
  margin: auto;
}

.education-circle {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  background-color: var(--primary-cream);
  margin: auto;
}

/***************************************************/
/* Principles section*/

.principle-section {
  background-color: var(--primary-cream);
  color: var(--green-darkest);
}

.principle-title {
  padding-top: 100px;
}

.principle-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  padding-bottom: 190px;
}

.principle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 7px 30px 5px rgba(85, 81, 55, 0.25);
  border-radius: 50px;
  padding: 40px;
  min-width: 350px;
  margin: 10px;
}

.principle-icon {
  font-size: 3rem;
}

.principle-text {
  padding-top: 20px;
  margin: 0;
  font-size: 32px;
}

/***************************************************/
/* Contact form page */
/***************************************************/

.contact-body {
  background-color: var(--green-darkest);
}
.contact-form-bkg {
  height: 100%;
  padding-top: 7vh;
  padding-bottom: 7vh;
  background: linear-gradient(
    180deg,
    var(--primary-green) 0%,
    var(--green-darkest) 100%
  );
}

.contact-form-container {
  background-color: var(--cream-green-A);
  color: var(--green-darkest);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 645px;
  position: relative;
}

.contact-form-title {
  padding-bottom: 0px;
  padding-top: 16px;
  font-size: 40px;
  line-height: normal;
  color: var(--primary-green);
}

.contact-form-text {
  font-size: 32px;
  font-weight: 500;
  padding-top: 5%;
  line-height: normal;
  color: var(--primary-green);
}

.contact-form-image {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 27%;
  left: 12%;
  padding-bottom: 0px;
}

.contact-form-col-B,
.contact-form-col-A {
  height: 100%;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
}

.contact-form-col-B {
  background-color: var(--primary-cream);
}

.contact-form-copy,
.contact-form-input,
.contact-form-msg-sent {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 60px;
  padding-right: 60px;
}

.contact-form-input {
  margin: auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.contact-form-input-title {
  font-weight: 500;
  font-size: 40px;
  padding-bottom: 0px;
  padding-top: 16px;
}

.contact-form-input-text {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 0;
}

input,
textarea {
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid var(--green-cream-D);
}

input {
  height: 60px;
}

textarea {
  height: 120px;
}

label {
  font-weight: 600;
  font-size: 24px;
  padding-top: 3%;
}

.contact-form-input-button {
  display: flex;
  flex-direction: row-reverse;
}

/***************************************************/
/* Contact form msg sent page */
/***************************************************/
.msg-sent-body {
  background-color: var(--green-darkest);
}

.contact-form-msg-sent-container {
  background-color: var(--cream-green-A);
  color: var(--green-darkest);
  border-radius: 50px;
  align-items: center;
  height: 645px;
  position: relative;
}

.contact-form-msg-sent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form-msg-sent-title {
  padding-bottom: 0px;
  padding-top: 16px;
  font-size: 40px;
  line-height: normal;
  color: var(--primary-green);
}

.contact-form-msg-sent-text {
  font-size: 32px;
  font-weight: 500;
  padding-top: 2%;
  padding-bottom: 3%;
  line-height: normal;
  color: var(--primary-green);
}

.contact-form-msg-sent-image {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 27%;
  left: 37%;
  padding-bottom: 0px;
  margin-bottom: -5px;
}

/***************************************************/
/* Project overview page */
/***************************************************/

.project-hero-section {
  background-color: var(--primary-cream);
}

.project-hero-container {
  padding-bottom: 50px;
}

.projects-subtitle {
  color: var(--green-darkest);
  font-size: 24px;
  font-weight: 500;
}

.project-cards-section {
  background-color: var(--cream-green-A);
  box-shadow: 0px 0px 30px 10px rgba(85, 81, 55, 0.25);
  position: relative;
}

.project-cards-container {
  display: flex;
  flex-wrap: wrap;
  min-width: 30%;
  gap: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
}

.project-card {
  min-width: 25%;
  background-color: var(--primary-cream);
  padding: 30px;
  border-radius: 50px;
  box-shadow: 5px 5px 30px rgba(85, 81, 55, 0.25);
  border: 5px solid var(--primary-cream);
  justify-content: center;
}

.project-card:hover {
  border: 5px solid var(--primary-green);
}

.view-all-projects-btn {
  margin-left: 1.5%;
  margin-right: 1.5%;
}

.footer-space-section {
  height: 250px;
  background-color: var(--primary-cream);
}

/***************************************************/
/* Project page */
/***************************************************/

.project-details-section {
  background-color: var(--primary-cream);
  padding-bottom: 35px;
}

.project-back-button {
  text-decoration: none;
  color: var(--green-darkest);
}

.project-back-button:hover,
.project-back-button:active {
  color: var(--green-darkest);
}

.project-back-button-text {
  text-decoration: underline;
}

.project-details-1,
.project-details-2 {
  display: flex;
}

.project-details-A,
.project-details-B {
  width: 50%;
}

.project-hr {
  color: var(--cream-green-B);
  margin: 0;
  opacity: 1;
  height: 2px !important;
  border-radius: 1px;
}

.project-status-box {
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  border: 3px solid var(--green-darkest);
  background-color: var(--primary-cream);
  box-shadow: 0px 0px 20px 5px rgba(85, 81, 55, 0.25);
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  gap: 10px;
  margin-left: 80px;
  margin-right: 80px;
  padding-left: 40px;
  padding-right: 40px;
}

.project-status-box:hover {
  background-color: var(--cream-green-A);
  box-shadow: none;
}

.project-icon {
  height: 100px;
  width: 100px;
  display: inline;
  margin-right: 3%;
  margin-bottom: 3%;
  margin-top: 3%;
}

.project-title {
  display: inline;
  color: var(--primary-green);
}

.project-description {
  font-size: 20px;
  font-weight: 500;
}

.github-repo-btn,
.github-repo-btn:visited,
.github-repo-btn:hover {
  padding-left: 3%;
  padding-right: 3%;
}

.project-status {
  font-size: 24px;
  padding: 0;
  margin: 0;
  font-weight: 500;
}

.project-status-demo {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background-color: #ffc107;
  border: 2px solid #664d03;
  margin-left: 3%;
  margin-right: 3%;
}

.project-status-microcopy {
  font-size: 12px;
  margin: 0;
  font-weight: 500;
}

.project-url,
.project-url a {
  font-size: 16px;
  text-decoration: underline;
  cursor: pointer;
  margin: 0;
  color: var(--green-darkest);
  display: flex;
  align-items: center;
}

.project-url i {
  font-size: 2rem;
}

.project-hr {
  margin-top: 1%;
  margin-bottom: 2%;
}

.project-technologies-used-title,
.project-collaboration-title {
  font-size: 20px;
}

.technologies-container {
  display: flex;
}

.project-skill-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}

.project-skill-text {
  text-align: center;
  font-weight: 500;
  font-size: 10px;
}

.project-skill-img {
  display: flex;
  justify-content: center;
  width: 35px;
  margin: 10px;
}

.project-skill-disclaimer {
  font-size: 12px;
}

.github-collaboration-link {
  color: var(--green-darkest);
  text-decoration: none;
  font-size: 20px;
}

.github-collaboration-link:hover {
  color: var(--green-cream-D);
}

.github-collaboration-link-text {
  text-decoration: underline;
}

.project-main-body-section {
  position: relative;
  background-color: var(--cream-green-A);
  box-shadow: 0px 0px 15px 5px rgba(85, 81, 55, 0.25);
}

.project-main-body-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-explore-title {
  padding-bottom: 0px;
}

.project-explore-subtitle {
  font-size: 24px;
  font-weight: 500;
  width: 70%;
}

.project-subtitle-and-external-btn-container {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 40px;
}

.project-image-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 47%;
  background-color: var(--primary-cream);
  border-radius: 50px;
  box-shadow: 0px 5px 10px rgba(85, 81, 55, 0.25);
  margin-bottom: 75px;
}

.project-image {
  width: 100%;
  padding: 20px;
}

.project-image-text-container {
  background-color: var(--cream-green-B);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  display: flex;
  align-items: center;
  height: 25%;
}

.project-image-text {
  font-weight: 500;
  font-size: 18px;
  margin: 0;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.project-image-text-page-name {
  font-weight: 700;
}

.other-projects-section {
  background-color: var(--primary-cream);
}

.other-projects-container {
  display: flex;
  flex-wrap: wrap;
  min-width: 30%;
  gap: 50px;
  padding-top: 50px;
  padding-bottom: 250px;
  justify-content: center;
}

.other-projects-title {
  padding-top: 100px;
  padding-bottom: 0px;
}

/***************************************************/
/* Media queries */
/***************************************************/

/* XS screen and smaller */
@media screen and (max-width: 576px) {
  /* Generic *******************************/
  .btn-primary,
  .btn-primary:link,
  .btn-primary:visited {
    height: 50px;
    width: 175px;
    font-weight: 600;
    font-size: 16px;
  }

  .btn-outline-primary,
  .btn-outline-primary:link,
  .btn-outline-primary:visited {
    height: 50px;
    width: fit-content;
    font-weight: 600;
    font-size: 16px;
  }

  /* Header / Navbar *******************************/
  .navbar {
    height: 80px;
  }

  .navbar-brand {
    font-size: 24px;
  }

  .navbar-brand:hover {
    font-size: 24px;
  }

  .cta-btn-1 {
    display: none;
  }

  .cta-btn-2 {
    display: contents;
  }

  /* Footer CTA *******************************/
  .footer-cta-section {
    height: 415px;
  }

  .footer-cta-container {
    height: 492px;
    flex-direction: column;
    text-align: center;
    border-radius: 75px;
    bottom: 120px;
  }

  .footer-cta-content {
    padding-left: 0;
    margin-bottom: 40%;
  }

  .footer-cta-content a {
    display: flex;
    justify-content: center;
  }

  .footer-title {
    padding-top: 50px;
    padding-bottom: 5px;
    font-size: 32px;
  }

  .footer-text {
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px;
  }

  .sm-footer-cta-Btn {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  .footer-image-container {
    display: flex;
    justify-content: center;
  }

  .footer-image {
    width: 55%;
  }

  /* Footer copyright *******************************/
  .copyright {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .copyright-1 {
    display: flex;
    justify-content: flex-start;
  }

  .copyright-2 {
    display: flex;
    justify-content: flex-end;
  }

  /* Index page *******************************/

  /* Hero section *******************************/
  .hero-container {
    background-image: url("images/Prishal_Makwana.png");
    background-size: 60% auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 500px;
    padding-left: 0;
    padding-right: 0;
  }

  .hero-content {
    flex-direction: column;
  }

  .hero-text {
    padding: 0;
  }

  .hero-h1 {
    font-size: 40px;
  }

  .hero-p {
    font-size: 20px;
    margin: 0;
    background-color: var(--primary-cream);
  }

  .sm-social-container {
    justify-content: flex-end;
    display: flex;
    width: 100%;
    margin-top: 29px;
  }

  .social-container {
    height: 135px;
    width: 45px;
    margin-top: 0px;
  }

  .social-btn {
    width: 45px;
    height: 45px;
  }

  .social-btn i {
    font-size: 25px;
  }

  .hero-cta-1 {
    display: none !important;
  }

  .hero-cta-2 {
    display: flex;
  }

  .sm-cta-container {
    display: flex;
    justify-content: flex-end;
    padding-top: 90px;
  }

  .gradient {
    height: 100px;
    width: 100%;
    position: relative;
    bottom: 100px;
  }

  /* Tech skills section *******************************/
  .tech-skills-container {
    padding-bottom: 50px;
    padding-left: 0;
    padding-right: 0;
  }
  .skills-title {
    display: none;
  }

  .sm-skills-title {
    font-size: 32px;
    padding-top: 35px;
    padding-bottom: 25px;
  }

  .card-body {
    padding: 0 !important;
  }

  .skills-container {
    border-radius: 0;
    padding: 0;
  }

  .sm-skills-title-container {
    width: 100%;
    display: flex;
    padding-left: 12px;
  }

  .skill-item {
    width: 8%;
    margin-left: 10px;
    margin-right: 10px;
  }

  .skill-text {
    font-size: 10px;
  }

  .skills-btn-container {
    display: none;
  }

  .sm-skills-btn-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 12px;
    padding-bottom: 35px;
  }

  /* Projects section *******************************/
  .project-carousel {
    gap: 20px;
  }

  .project {
    width: 100%;
  }

  .project-card {
    min-width: 90%;
  }

  /* Experience section *******************************/
  .sm-skills-title,
  .index-projects-title,
  .experience-title,
  .education-title,
  .principle-title {
    font-size: 32px;
    padding-top: 35px;
    padding-bottom: 25px;
    font-weight: 700;
  }

  .experience-container {
    display: none;
  }

  .sm-experience-container {
    display: grid;
  }

  .company-col {
    justify-content: flex-start;
    text-align: end;
    padding-left: 0;
  }

  .company-logo-container {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 75px;
    width: 190px;
    position: relative;
    left: -8%;
  }

  .company-logo {
    width: 130px;
  }

  .company-name {
    font-size: 20px;
  }

  .company-period {
    margin-bottom: 0;
  }

  .company-period,
  .company-length {
    font-size: 16px;
  }

  .job-title {
    font-size: 20px;
  }

  .job-detail-1 {
    font-size: 16px;
    padding-left: 0;
  }

  .sm-experience-Btn {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 30px;
  }

  .sm-experience-Btn a {
    color: var(--primary-cream);
  }

  /* Education section *******************************/
  .education-container {
    display: none;
  }

  .sm-education-container {
    display: grid;
  }

  .school-col {
    justify-content: flex-start;
    text-align: end;
    padding-left: 0;
  }

  .school-logo-container {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 75px;
    width: 190px;
    position: relative;
    left: -8%;
    margin-bottom: 0px;
  }

  .school-logo {
    height: 50px;
  }

  .school-title {
    font-size: 20px;
    padding-top: 15px;
  }

  .school-date {
    margin-bottom: 0;
    font-size: 18px;
  }

  .school-description {
    font-size: 16px;
    padding-top: 10px;
  }

  .school-date,
  .school-description {
    text-align: left;
    padding-left: 0;
  }

  .sm-education-Btn {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 30px;
  }

  .sm-education-Btn a {
    color: var(--green-darkest);
  }

  /* Principles section  *******************************/
  .principle-container {
    justify-content: center;
    padding-bottom: 150px;
  }

  .principle {
    padding: 40px;
    min-width: 280px;
    height: 140px;
    margin: 10px;
    box-shadow: 0px 5px 10px 2px rgba(85, 81, 55, 0.25);
  }

  .principle-icon {
    font-size: 2rem;
  }

  .principle-text {
    font-size: 20px;
  }

  /* Contact form page *******************************/
  .contact-form-bkg {
    padding-top: 5vh;
    padding-bottom: 8vh;
  }

  .contact-form-container,
  .contact-form-msg-sent-container {
    flex-direction: column-reverse;
    height: 100%;
  }

  .contact-form-col-A {
    height: 100%;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
  }

  .contact-form-col-B {
    background-color: var(--primary-cream);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 0;
    width: 100%;
  }

  .contact-form-input {
    padding-left: 5%;
    padding-right: 5%;
  }

  .contact-form-input-title {
    font-size: 20px;
    text-align: center;
    padding-top: 0;
  }

  .contact-form-input-text {
    font-size: 14px;
    text-align: center;
  }

  .contact-form-input-button {
    display: flex;
    justify-content: center;
  }

  .sm-contact-form-send-Btn,
  .sm-contact-form-send-Btn:visited,
  .sm-contact-form-send-Btn:link {
    width: 190px;
  }

  label {
    font-size: 18px;
  }

  .contact-form-copy {
    padding: 0;
  }

  .contact-form-title,
  .contact-form-msg-sent-title {
    font-size: 20px;
    text-align: center;
  }

  .contact-form-text {
    font-size: 18px;
    text-align: center;
    padding-bottom: 50%;
    padding-top: 1%;
  }

  .contact-form-image {
    width: 39%;
    left: 32%;
  }

  /* Contact form msg sent page *******************************/
  .contact-form-msg-sent-text {
    font-size: 18px;
    text-align: center;
    padding-bottom: 12%;
    padding-top: 1%;
  }

  .contact-form-msg-sent-image {
    width: 39%;
    left: 32%;
    margin-bottom: -1%;
  }

  .close-btn {
    padding-bottom: 60%;
  }

  /* Project overview page *******************************/
  .projects-subtitle {
    font-size: 20px;
  }

  /* Project page *******************************/
  .project-details-1,
  .project-details-2 {
    flex-direction: column;
  }

  .project-details-A,
  .project-details-B {
    width: 100%;
  }

  .project-details-B {
    display: flex;
    flex-direction: column;
  }

  .project-status-box {
    width: fit-content;
    align-self: center;
  }

  .project-explore-subtitle {
    width: 100%;
  }

  .project-external-btn-container {
    display: flex;
    flex-direction: row-reverse;
  }

  .project-subtitle-and-external-btn-container {
    flex-direction: column;
  }

  .project-image-container {
    width: 100%;
  }

  .project-image-text {
    padding: 20px;
  }
}

/* SM screen */
@media screen and (max-width: 768px) and (min-width: 576px) {
  /* Generic *******************************/
  .btn-primary,
  .btn-primary:link,
  .btn-primary:visited {
    height: 50px;
    width: 175px;
    font-weight: 600;
    font-size: 16px;
  }

  .btn-outline-primary,
  .btn-outline-primary:link,
  .btn-outline-primary:visited {
    height: 50px;
    width: fit-content;
    font-weight: 600;
    font-size: 16px;
  }

  /* Footer CTA *******************************/
  .footer-cta-section {
    height: 415px;
  }

  .footer-cta-container {
    height: 450px;
    flex-direction: column;
    text-align: center;
    border-radius: 75px;
    bottom: 90px;
  }

  .footer-cta-content {
    padding-left: 0;
    margin-bottom: 25%;
  }

  .footer-cta-content a {
    display: flex;
    justify-content: center;
  }

  .footer-title {
    padding-top: 50px;
    padding-bottom: 5px;
    font-size: 32px;
  }

  .footer-text {
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 24px;
  }

  .sm-footer-cta-Btn {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  /* Footer copyright *******************************/

  .copyright {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .copyright-1 {
    display: flex;
    justify-content: flex-start;
  }

  .copyright-2 {
    display: flex;
    justify-content: flex-end;
  }

  /* Header / Navbar *******************************/
  .navbar {
    height: 80px;
  }

  .navbar-brand {
    font-size: 24px;
  }

  .navbar-brand:hover {
    font-size: 24px;
  }

  .cta-btn-1 {
    display: none;
  }

  .cta-btn-2 {
    display: contents;
  }

  /* Index page *******************************/

  /* Hero section *******************************/
  .hero-container {
    background-image: url("images/Prishal_Makwana.png");
    background-size: 50% auto;
    background-repeat: no-repeat;
    background-position: 25% bottom;
    height: 500px;
    padding-left: 0;
    padding-right: 0;
  }

  .hero-content {
    flex-direction: column;
  }

  .hero-text {
    padding: 0;
  }

  .hero-h1 {
    font-size: 40px;
  }

  .hero-p {
    font-size: 20px;
    margin: 0;
  }

  .sm-social-container {
    justify-content: flex-end;
    display: flex;
    width: 100%;
  }

  .social-container {
    height: 135px;
    width: 45px;
    margin-top: 0px;
  }

  .social-btn {
    width: 45px;
    height: 45px;
  }

  .social-btn i {
    font-size: 25px;
  }

  .hero-cta-1 {
    display: none !important;
  }

  .hero-cta-2 {
    display: flex;
  }

  .sm-cta-container {
    display: flex;
    justify-content: flex-end;
    padding-top: 90px;
  }

  .gradient {
    height: 100px;
    width: 100%;
    position: relative;
    bottom: 100px;
  }

  /* Tech skills section *******************************/
  .tech-skills-container {
    padding-bottom: 50px;
    padding-left: 0;
    padding-right: 0;
  }
  .skills-title {
    display: none;
  }

  .sm-skills-title {
    font-size: 32px;
    padding-top: 35px;
    padding-bottom: 25px;
  }

  .card-body {
    padding: 0 !important;
  }

  .skills-container {
    border-radius: 0;
    padding: 0;
  }

  .sm-skills-title-container {
    width: 100%;
    display: flex;
    padding-left: 12px;
  }

  .skill-item {
    width: 9%;
  }

  .skill-text {
    font-size: 10px;
  }

  .skills-btn-container {
    display: none;
  }

  .sm-skills-btn-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 12px;
    padding-bottom: 35px;
  }

  /* Projects section *******************************/

  .projects-title {
    font-size: 40px;
  }

  .projects-subtitle {
    font-size: 20px;
  }

  .project {
    width: 100%;
  }

  .project-cards-container {
    padding: 50px;
  }

  .project-card {
    min-width: 70%;
  }

  /* Experience section *******************************/
  .sm-skills-title,
  .experience-title,
  .education-title,
  .principle-title {
    padding-top: 35px;
    font-size: 32px;
    padding-bottom: 25px;
  }

  .experience-container {
    display: none;
  }

  .sm-experience-container {
    display: grid;
  }

  .company-col {
    justify-content: stretch;
    text-align: end;
    padding-left: 0;
  }

  .company-logo-container {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 75px;
    width: 190px;
    position: relative;
    left: -8%;
  }

  .company-logo {
    width: 130px;
  }

  .company-name {
    font-size: 20px;
  }

  .company-period {
    margin-bottom: 0;
  }

  .company-period,
  .company-length {
    font-size: 16px;
  }

  .job-title {
    font-size: 20px;
  }

  .job-detail-1 {
    font-size: 16px;
    padding-left: 0;
  }

  .sm-experience-Btn {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 30px;
  }

  .sm-experience-Btn a {
    color: var(--primary-cream);
  }

  /* Education section *******************************/
  .education-container {
    display: none;
  }

  .sm-education-container {
    display: grid;
  }

  .school-col {
    justify-content: flex-start;
    text-align: end;
    padding-left: 0;
  }

  .school-logo-container {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 75px;
    width: 190px;
    position: relative;
    left: -8%;
    margin-bottom: 0px;
  }

  .school-logo {
    height: 50px;
  }

  .school-title {
    font-size: 20px;
    padding-top: 15px;
  }

  .school-date {
    margin-bottom: 0;
    font-size: 18px;
  }

  .school-description {
    font-size: 16px;
    padding-top: 10px;
  }

  .school-date,
  .school-description {
    text-align: left;
    padding-left: 0;
  }

  .sm-education-Btn {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 30px;
  }

  .sm-education-Btn a {
    color: var(--green-darkest);
  }

  /* Principles section *******************************/
  .principle-container {
    justify-content: center;
    padding-bottom: 150px;
  }

  .principle {
    padding: 40px;
    min-width: 280px;
    height: 140px;
    margin: 10px;
    box-shadow: 0px 5px 10px 2px rgba(85, 81, 55, 0.25);
  }

  .principle-icon {
    font-size: 2rem;
  }

  .principle-text {
    font-size: 20px;
  }

  /* Contact form page *******************************/
  .contact-form-container,
  .contact-form-msg-sent-container {
    flex-direction: column-reverse;
    height: auto;
    height: 100%;
  }

  .contact-form-col-A {
    height: 100%;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
  }

  .contact-form-col-B {
    background-color: var(--primary-cream);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 0;
    width: 100%;
  }

  .contact-form-input {
    padding-left: 5%;
    padding-right: 5%;
  }

  .contact-form-input-title {
    font-size: 20px;
    text-align: center;
    padding-top: 0;
  }

  .contact-form-input-text {
    font-size: 14px;
    text-align: center;
  }

  .contact-form-input-button {
    display: flex;
    justify-content: center;
  }

  .sm-contact-form-send-Btn,
  .sm-contact-form-send-Btn:visited,
  .sm-contact-form-send-Btn:link {
    width: 190px;
  }

  label {
    font-size: 18px;
  }

  .contact-form-copy {
    padding: 0;
  }

  .contact-form-title,
  .contact-form-msg-sent-title {
    font-size: 20px;
    text-align: center;
  }

  .contact-form-text {
    font-size: 18px;
    text-align: center;
    padding-bottom: 50%;
    padding-top: 1%;
  }

  .contact-form-image {
    width: 29%;
    left: 37%;
  }

  /* Contact from msg sent page *******************************/
  .contact-form-msg-sent-text {
    font-size: 18px;
    text-align: center;
    padding-bottom: 2%;
    padding-top: 1%;
  }

  .close-btn {
    padding-bottom: 30%;
  }

  .contact-form-msg-sent-image {
    width: 29%;
    left: 37%;
  }

  .project-details-1,
  .project-details-2 {
    flex-direction: column;
  }

  .project-details-A,
  .project-details-B {
    width: 100%;
  }

  .project-details-B {
    display: flex;
    flex-direction: column;
  }

  .project-status-box {
    width: fit-content;
    align-self: center;
  }

  .project-image-container {
    width: 100%;
  }
}

/* MD screen */
@media screen and (max-width: 992px) and (min-width: 768px) {
  /* Index page  *******************************/

  /* Hero section *******************************/
  .hero-container {
    background-size: auto 90%;
    background-position: right bottom;
  }

  .hero-h1 {
    background-color: var(--primary-cream);
  }

  .hero-p {
    background-color: var(--primary-cream);
  }

  .skill-item {
    width: 9%;
  }

  /* Projects section *******************************/
  .project {
    width: 45%;
  }

  .projects-title {
    font-size: 64px;
  }

  .projects-subtitle {
    font-size: 24px;
  }

  .project-cards-container {
    padding: 50px;
  }

  .project-card {
    min-width: 40%;
  }

  /* Principles section */
  .principle-container {
    justify-content: center;
  }

  .footer-cta-section {
    height: 350px;
  }

  .footer-cta-container {
    height: 450px;

    bottom: 140px;
  }

  /* Contact form page *******************************/

  .contact-form-container,
  .contact-form-msg-sent-container {
    flex-direction: column-reverse;
    height: 100%;
  }

  .contact-form-col-A {
    height: 100%;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
  }

  .contact-form-col-B {
    background-color: var(--primary-cream);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 0;
    width: 100%;
  }

  .contact-form-input {
    padding-left: 5%;
    padding-right: 5%;
  }

  .contact-form-input-title {
    font-size: 20px;
    text-align: center;
    padding-top: 0;
  }

  .contact-form-input-text {
    font-size: 14px;
    text-align: center;
  }

  .contact-form-input-button {
    display: flex;
    justify-content: center;
  }

  .sm-contact-form-send-Btn,
  .sm-contact-form-send-Btn:visited,
  .sm-contact-form-send-Btn:link {
    width: 260px;
  }

  label {
    font-size: 18px;
  }

  .contact-form-copy {
    padding: 0;
  }

  .contact-form-title,
  .contact-form-msg-sent-title {
    font-size: 20px;
    text-align: center;
  }

  .contact-form-text {
    font-size: 18px;
    text-align: center;
    padding-bottom: 50%;
    padding-top: 1%;
  }

  .contact-form-image,
  .contact-form-msg-sent-image {
    width: 25%;
    left: 38%;
  }

  .contact-form-msg-sent-text {
    font-size: 18px;
    text-align: center;
    padding-bottom: 2%;
    padding-top: 1%;
  }

  .close-btn {
    padding-bottom: 30%;
  }

  /* Project page *******************************/
  .project-details-1,
  .project-details-2 {
    flex-direction: column;
  }

  .project-details-A,
  .project-details-B {
    width: 100%;
  }

  .project-details-B {
    display: flex;
    flex-direction: column;
  }

  .project-status-box {
    width: fit-content;
    align-self: center;
  }

  .project-image-container {
    width: 100%;
  }

  .project-subtitle-and-external-btn-container {
    flex-direction: column;
  }
}

/* LG screen */
@media screen and (max-width: 1200px) and (min-width: 992px) {
  /* Index page *******************************/

  /* Principles section *******************************/
  .principle-container {
    justify-content: center;
  }

  /* Project overview page *******************************/
  .projects-title {
    font-size: 64px;
  }

  /* Project page *******************************/
  .project-details-1,
  .project-details-2 {
    flex-direction: column;
  }

  .project-details-A,
  .project-details-B {
    width: 100%;
  }

  .project-details-B {
    display: flex;
    flex-direction: column;
  }

  .project-status-box {
    width: fit-content;
    align-self: center;
  }

  .project-image-container {
    width: 100%;
  }
}

/* XL screen */
@media screen and (max-width: 1400px) and (min-width: 1200px) {
  /* Index page *******************************/

  /* Project section *******************************/
  .project {
    width: 30%;
  }

  .projects-title {
    font-size: 64px;
  }
}

/* XL screen and larger  */
@media screen and (min-width: 1400px) {
  /* Index page *******************************/

  /* Project section *******************************/
  .project {
    width: 30%;
  }
  .projects-title {
    font-size: 64px;
  }
}

/* Final */

.hide {
  display: none;
}
